
:root {
    --color-white: #ffffff; 
    --color-gray-000: #f8f9fa; 
    --color-gray-100: #f1f3f5; 
    --color-gray-200: #e9ecef; 
    --color-gray-300: #dee2e6; 
    --color-gray-400: #ced4da; 
    --color-gray-500: #adb5bd; 
    --color-gray-600: #868e96; 
    --color-gray-700: #495057; 
    --color-gray-800: #343a40; 
    --color-gray-900: #212529; 
    --color-black: #000000; 
    --color-primary-100: #f2f7ff; 
    --color-primary-200: #bfd9ff; 
    --color-primary-300: #99c2ff; 
    --color-primary-400: #4d94ff; 
    --color-primary-500: #0066ff; 
    --color-primary-600: #004dbf; 
    --color-primary-700: #00327d; 
    --color-red-100: #fff5f5; 
    --color-red-200: #ffe3e3; 
    --color-red-300: #ff8787; 
    --color-red-400: #ff6b6b; 
    --color-red-500: #fa5252; 
    --color-red-600: #f03e3e; 
    --color-red-700: #c92a2a; 
    --color-orange-100: #fff4e6; 
    --color-orange-200: #ffe8cc; 
    --color-orange-300: #ffc078; 
    --color-orange-400: #ffa94d; 
    --color-orange-500: #ff922b; 
    --color-orange-600: #f76707; 
    --color-orange-700: #d9480f; 
    --color-green-100: #ebfbee; 
    --color-green-200: #d3f9d8; 
    --color-green-300: #8ce99a; 
    --color-green-400: #69db7c; 
    --color-green-500: #51cf66; 
    --color-green-600: #37b24d; 
    --color-green-700: #2b8a3e; 
}