
:root {
    --colorWhite: #ffffff;    
    --colorGray000: #f8f9fa;    
    --colorGray100: #f1f3f5;    
    --colorGray200: #e9ecef;    
    --colorGray300: #dee2e6;    
    --colorGray400: #ced4da;    
    --colorGray500: #adb5bd;    
    --colorGray600: #868e96;    
    --colorGray700: #495057;    
    --colorGray800: #343a40;    
    --colorGray900: #212529;    
    --colorBlack: #000000;    
    --colorPrimary100: #f2f7ff;    
    --colorPrimary200: #bfd9ff;    
    --colorPrimary300: #99c2ff;    
    --colorPrimary400: #4d94ff;    
    --colorPrimary500: #0066ff;    
    --colorPrimary600: #004dbf;    
    --colorPrimary700: #00327d;    
    --colorRed100: #fff5f5;    
    --colorRed200: #ffe3e3;    
    --colorRed300: #ff8787;    
    --colorRed400: #ff6b6b;    
    --colorRed500: #fa5252;    
    --colorRed600: #f03e3e;    
    --colorRed700: #c92a2a;    
    --colorOrange100: #fff4e6;    
    --colorOrange200: #ffe8cc;    
    --colorOrange300: #ffc078;    
    --colorOrange400: #ffa94d;    
    --colorOrange500: #ff922b;    
    --colorOrange600: #f76707;    
    --colorOrange700: #d9480f;    
    --colorGreen100: #ebfbee;    
    --colorGreen200: #d3f9d8;    
    --colorGreen300: #8ce99a;    
    --colorGreen400: #69db7c;    
    --colorGreen500: #51cf66;    
    --colorGreen600: #37b24d;    
    --colorGreen700: #2b8a3e;    
}