@tailwind utilities;

@layer utilities {
   
  .typography-text-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-s-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-xs-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-l-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-xl-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-2xl-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-3xl-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-4xl-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-s-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-xs-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-l-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-xl-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-2xl-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-3xl-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-4xl-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-s-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-xs-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-l-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-xl-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-2xl-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-3xl-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-4xl-semi-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 


}